.btn {
	display: inline-block;
	background: var(--primary-color);
	color: var(--white);
	padding: 7px 17px;
	font-size: 18px;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    
    &:hover {
        opacity: 0.9;
    }
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 30px;
	padding: 20px 25px;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 20px;
	padding: 10px 15px;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 10px;
}