.footer {
	max-width: 70%;
	margin: 10px auto;
    overflow: auto;
    
    a {
        color: var(--dark-grey);
        font-size: 0.9rem;
    }

    p {
        margin-bottom: 15px;
    }

    li {
        line-height: 1.9;
    }

    .footer-cols {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .lang-select {
        margin-top: 20px;
        color: var(--dark-grey);
        background-color: var(--black);
        background-image: none;
        border: 1px solid var(--dark-brown);
        padding: 10px 12px;
        border-radius: 5px;
    }
}